header {
    background-image: url("img/capa-header.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
}
.cabecalho {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 80px;
  line-height: 0.8;
}

.branco {
  color: white;
}

.amarelo {
  color: yellow;
}

button {
    background-color: yellow;
    border: none;
    width: 180px;
    height: 35px;
    font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: ghostwhite;
}

section {
  padding: 40px 20px;
}

.problema-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.problema-card{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.problema-texto{
    text-align: center;
}
.problema-bloco{
    display: flex;
    gap: 20px;
}
.card-topo {
    border-radius: 10px 10px 0 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card-destaque-01 {
    border-radius: 0 0 10px 10px;
    background-color: #a5c9f0; 
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.card-destaque-02 {
    border-radius: 0 0 10px 10px;
    background-color:rgb(201, 222, 179); 
    padding: 20px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.tech-card {
    display: flex;
    gap: 20px;
}
.tech-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tech-texto {
    text-align: center;
}
.tech {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.quiz-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: left;
    margin-bottom: 3px;
}


.acao-card {
    display: flex;
    gap: 20px;
}
.acao-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.acao-texto {
    text-align: center;
}
.acao {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);   
}

footer {
    background-color: brown;
}